
@page {
    margin-top: 100px; 
    padding-top: 0px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 5px;
}
.container {
  /* border: #000 2px solid; */
  /* padding: 5px; */
  /* margin: 5px; */

}
#age{
  padding-left: 300px;
  padding-top: -30px;
}
#reg_date{
  padding-left: 300px;
  padding-top: -30px;
}
.wrapper {
  display: grid;
  /* grid-gap: 5px; */
  grid-template-columns: repeat(3, [col] 5px);
  grid-template-rows: repeat(2, [row] auto);
  background-color: #fff;
  color: #000;
}

.box {
  color: #000;
  border-radius: 5px;
  padding: 3px;
  
}
.txt{
  
  text-transform: uppercase;
}

.a {
  grid-column: col / span 2;
  grid-row: row;
}

.b {
  grid-column: col 3 / span 2;
  grid-row: row;
}

.c {
  grid-column: col;
  grid-row: row 2;
}

.d {
  grid-column: col 2 / span 3;
  grid-row: row 2;
}

.e {
  grid-column: col / span 4;
  grid-row: row 3;
}
.bill-table {
width: 100%;
border-collapse: collapse;
margin-bottom: 20px;
padding: 5px;
  margin: 5px;
}
.bill-table th, .bill-table td {
// border: 0.2px solid #000;
padding: 4px;
}
.total {
  margin-top: 20px;
  text-align: right;
  // font-weight: bold;
}